@using System.Security.Claims
<!DOCTYPE html>
<html>
    <head>
        <title>@ViewData["Title"] | @ViewData["AppName"]</title>
        <script defer src="~/lib/btstrap/js/bootstrap.min.js"></script>
        <script defer src="~/lib/jquery/jquery-3.6.0.min.js"></script>
        <script defer src="~/js/script.js"></script>
        <link rel="stylesheet" type="text/css" href="~/css/style.css" />
        <link rel="stylesheet" type="text/css" href="~/lib/btstrap/css/bootstrap.min.css" />
    </head>
    <body>
        <div class="border-bottom p-3">
            <div class="menu-optionsgroup-left">
                <div class="menu-option" style="font-size: 20px;">
                    <i>@ViewData["AppName"]</i>
                </div>
                    <a class="menu-option" href="/">Home</a>
                    @if(User.Identity.IsAuthenticated)
                    {
                        <a class="menu-option" asp-controller="Tutorials" asp-action="Index">My Tutorials</a>
                    }
            </div>

            <div class="menu-optionsgroup-right">
                @if(User.Identity.IsAuthenticated)
                {
                    <div class="menu-option">
                        @if (User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Email) is not null) 
                        {
                            <a asp-controller="Auth" asp-action="Logout">Logout</a>
                            <a class="btn btn-outline-primary" asp-controller="Auth" asp-action="AccountSettings">@User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Email).Value</a>
                        }
                    </div>
                }
                else
                {
                    <a class="menu-option" asp-controller="Auth" asp-action="Register">Register</a>
                    <a class="menu-option" asp-controller="Auth" asp-action="SignIn">Sign In</a>
                }
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="container">
            @RenderBody()
        </div>
    </body>
</html>
