@using System.Security.Claims
<!DOCTYPE html>
<html>
    <head>
        <title>@ViewData["Title"] | @ViewData["AppName"]</title>
        @await RenderSectionAsync("TutorialByIdScript", false)
        <partial name="Partials/_ScriptsPartial" />
        <partial name="Partials/_LinksPartial" />
    </head>
    <body>
        <nav class="navbar navbar-expand-md bg-light navbar-light border-bottom navigation">
            <div class="container-fluid">
                <a href="/" class="navbar-brand">@ViewData["AppName"]</a>
                
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#main-menu" aria-controls="main-menu" aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div id="main-menu" class="collapse navbar-collapse">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                        @if(User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item"><a asp-controller="Tutorials" asp-action="Index" class="nav-link">My Tutorials</a></li>
                        }
                    </ul>
                    <ul class="navbar-nav">
                        @if(User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item"><a class="nav-link" asp-controller="Auth" asp-action="LogOut">Logout</a></li>
                            <li class="nav-item">
                                <a class="nav-link border-bottom" asp-controller="Auth" asp-action="AccountSettings">@User.FindFirstValue(ClaimTypes.Email)</a>
                            </li>
                        }
                        else 
                        {
                            <li class="nav-item"><a class="nav-link" asp-controller="Auth" asp-action="Register">Register</a></li>
                            <li class="nav-item"><a class="nav-link" asp-controller="Auth" asp-action="SignIn">Sing In</a></li>
                        }
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container main-container">
            @RenderBody()
        </div>
    </body>
</html>
